/*侧栏部分*/
.aside{
	background-color: white;
	padding: 20px;
	margin: 20px;
	box-shadow: 2px 2px #999;
}
.aside h3{
	height: 40px;
	padding-left: 20px;
	line-height: 40px; 
	color: black;
	border-left: 3px solid #ccc;
}
.leftdis{
	width: 30%;
	padding-right: 10px;
	text-align: right;
	vertical-align: top;
	display: inline-block;
}
.rightdis{
	margin-left:31%;
	text-align: left;
	font-size: 14px;
	color: #999
}
.inline{
	margin-bottom: 20px;
	/*调整行间距*/
	line-height: 200%  
}
.multext{
	width: 60%;
	right: 0;
	font-size: 18px;
	font-weight: bold;
}
.button{
	background-color: #3a5fcd;
	width: 100%;height: 50px;
	color: white;
	font-size: 16px;
	font-weight: bold;
	border-radius: 15px;
}